// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.total {
  padding: 10px;
  color: #99ff33;
}

/*div.graph{*/
  /*height: 300px;*/
  /*width:  400px;*/
/*}*/

iframe.member_pie{
  height: 200px;
  width:  300px;
}
